.favorites__products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 50px 40px 60px;
  width: 92%;
  height: calc(100vh - 387.5px);
}

.headerPage {
  margin-left: 50px;
}
