.footer {
  background-color: #0087b0;
  color: white;
  padding: 15px 0 15px; 
  width: 100%;
  /* position: fixed; */
  bottom: 0px;
  left: 0px;

}
.content{
  display: flex;
  flex-direction: column;
  padding: 0;
}
