.header__icons {
  width: 150px;
  display: flex;
  gap: 40px;
  position: relative;
}

.header__link {
  width: 24px;
  height: 24px;
  padding: 7px;
  outline: none;
}

.header__icon {
  width: 24px;
  height: 24px;
  outline: none;
}

.favorit__container {
  text-decoration: none;
  display: flex;
  outline: none;
}

.favoritIcon {
  height: 40px;
  width: 40px;
  outline: none;
}

.basketIcon {
  height: 45px;
  width: 45px;
  outline: none;
}

.userIcon {
  height: 50px;
  width: 50px;
  outline: none;
}

.numberLike_standart {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  margin-left: -25px;
}

.numberLike_more {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 3px;
  margin-left: -31px;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  left: 65px;
}

.userIcon[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em;
}
