.header__icons {
  width: 150px;
  display: flex;
  gap: 40px;
  position: relative;
}

.header__link {
  width: 24px;
  height: 24px;
  padding: 7px;
}

.header__icon {
  width: 24px;
  height: 24px;
}

.favorit__container {
  text-decoration: none;
  display: flex;
}

.favoritIcon {
  height: 40px;
  width: 40px;
}

.basketIcon {
  height: 45px;
  width: 45px;
}

.userIcon {
  height: 50px;
  width: 50px;
}

.numberLike_standart {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  margin-left: -25px;
}

.numberLike_more {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-top: 3px;
  margin-left: -31px;
}
