.iconBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-top: 15px;
}

linkicon > img {
  display: block;
  margin: 10px;
}

.phonepic {
  width: 25px;
  height: 25px;
}
