.search__input {
  border-radius: 1.5rem;
  background-color: #ffffff;
  width: 400px;
  height: 20px;
  caret-color: #ffe44d;
  font-size: 16px;
  color: #1a1a1a;
  padding: 14px 20px;
  border: 1px solid transparent;
  margin-left: 170px;
}

.search__input:focus {
  background-color: #ffffff;
  outline: 1px solid #ffe44d;
}
