.cardProduct__container {
  display: flex;
  flex-direction: column;
}
.cardProduct {
  width: 100%;
  height: 71vh;
  display: flex;
  gap: 70px;
  font-size: 20px;
  justify-content: center;
}

.leftBar {
  width: 430px;
  height: 430px;
  padding: 30px;
}

.product__img {
  width: 400px;
  height: 400px;
}

.rightBar {
  padding-top: 50px;
}

.cardDesc {
  display: flex;
}

.cardDics {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 28px;
  font-weight: 800;
  color: #f44336;
  margin: 0 10px;
}

.oldPrice {
  font-size: 28px;
  font-weight: 400;
  text-decoration: line-through 2px;
  display: block;
  color: #000000;
}

.inCase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
  margin-top: 30px;
}

.inCaseControls {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inCaseBasket {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #0087b0;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.7px;
  height: 35px;
  width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

.inCaseBasket:hover {
  background-color: #ff7a39;
}

.inCaseMinus {
  text-decoration: none;
  display: inline-block;
  background: #0087b0;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

/* .inCaseMinus:hover {
  background-color: #ff7a39;
} */

.minusText {
  font-size: 24px;
  color: white;
  line-height: 15px;
}

.inCasePlus {
  text-decoration: none;
  display: inline-block;
  background: #0087b0;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

/* .inCasePlus:hover {
  background-color: #ff7a39;
} */

.plusText {
  font-size: 24px;
  color: white;
  line-height: 15px;
}

.caseText {
	font-size: 50px;
}

.product__title {
  margin-bottom: 20px;
}

.rightBarP {
  margin: 10px;
  margin-left: 0;
}

.productReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.productReviews__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.reviewsButton {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px;
  outline: none;
  border: none;
  border-radius: 25px;
  height: 46px;
  line-height: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}

.reviewsButton span {
  display: block;
  box-sizing: border-box;
  padding: 0 25px;
  height: 42px;
  line-height: 38px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #0087b0;
  text-align: center;
  font-weight: 600;
}
.reviewsButton:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.reviewsButton:hover span {
  background-color: #ff7a39;
}
.reviewsButton:active span {
  background-color: #ff7a39 !important;
}
.reviewsButton:disabled {
  opacity: 0.65;
  pointer-events: none;
}
